.welcome_header {
    text-align: center;
    margin-top: 35vh;
    font-size: 5vw;
    font-weight: bold;
    text-transform: uppercase;
}

.h2_header, .h4_header {
    text-align: center;
    margin: 2vh;
}

.label-bold {
    font-weight: 500;
}

.input-group-append {
    cursor: pointer;
}